<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DALConnectString"
        connectionString="Server =2A314-D05\MSSQL2016;Database=YoYoDB2;User=sa;Password=Conestoga1"
        providerName="System.Data.SQLClient" />
  </connectionStrings>
</configuration>